<%- include('layouts/header.ejs') %>
<link rel="stylesheet" href="css/dashboard.css" />

<h2 class="mb-4">hii <%=user.name%></h2>

<div class="row">
  <div class="col-md-3" style="background-color: rgb(51, 51, 52); height: 100vh;padding-top: 10px;">
    <ul class="list-group">
      <% if(users.length > 0){ users.forEach(person => { %>
      <li class="list-group-item list-group-item-dark cursor-pointer user-list listtt">
        <img
          src="<%=person.image%>"
          alt=""
          class="profileImg"
        /><%=person.name%> 
        <%
        if(person.is_online=='1'){
         %> <div class="is_online"></div><%
        }
        %>
        
        
      </li>
      <% }); } %>
    </ul>
  </div>
  <div class="col-md-9">
    <h3 class="start-head">Click to start chat</h3>
    <div class="chat-section">
      <div id="chat-container">

      </div>
      <form action="" id="chat-form">
        <input type="text" name="message" placeholder="Enter message" id="message" class="border" required>
        <input type="submit" value="Send" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>

<%- include('layouts/footer.ejs') %>

<script>
let sender_id = '<%= user._id %>'
const socket = io("/user-namespace",{
  auth:{
    token:sender_id
  }
})
// socket.emit("sender_id",sender_id)

$(document).ready(function(){
  $('.user-list').click(function(){
    $('.start-head').hide();
    $('.chat-section').show();
  })
})

</script>

<!-- <%
users.forEach(person => {
  %>
  <img src="<%=person.image%>" alt="" class="profileImg">
  <div><%=person.name%></div>
  <%
});

%> -->
